@bg-color: #8DC5D7;
@pa-color: #508C55;
@slot-color: #508C73;

body{
  background-color: @bg-color;
}

#playground{
  height: 500px;
  width: 500px;
  background-color: @pa-color;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
}

.slot{
  height: 110px;
  width: 110px;
  background-color: @slot-color;
  border-radius: 5px;
  margin: 5px;
  border: inset grey 3px;
  float: left;
}

#tile{
  border-radius: 3px;
}

#gearicon{
  font-size: x-large;
  color: #7FDBDB;
}

h1{
  text-align: center;
}

#messages{
 background-color: silver;
 height: 550px;
 overflow-y: scroll;
 margin: 10px 0px;
 color: black;
 border: 2px black solid;
 border-radius: 3px;
}

#message-area{
  background-color: white;
  color: black;
}

#sidr{
  width: 30%;
  min-width: 290px;
  padding: 5px;
  background-color: grey;
}

.top-bar-section .has-dropdown > a:after {
  border-style: none;
}

#close-window{
  float: right;
  position: relative;
  border: outset 3px dimgrey;
  border-radius: 4px;
  padding: 3px;
  font-weight: bolder;
  color: firebrick;
  background-color: black;
}

#send-message{
  border: outset 3px dimgrey;
}

#send-message:hover{
  border: ridge 3px dimgrey;
}

#chat-title{
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: black;
}

.chat-message{
  background-color: #A4F5F3;
  border: solid 1px black;
  border-radius: 2px;
  margin: 2px;
}

fieldset{
  background-color: silver;
}

#about{
  background-color: silver;
  border: outset grey 3px;
  width: 300px;
}

#logout{
  width: 50px;
}

