extends ../shared/template

block content
  .row
    .small-4.small-offset-4.columns
      form(method='post', action='/register')
        fieldset
          legend=title
          label Email
          input(type='email', name='email', autofocus=true)
          label Password
          input(type='password', name='password')
          .row
            .small-8.columns
              label Username
              input(type='text', name='name')
            .small-4.columns
              label &nbsp;
              button.radius.small Register
    .small-4.columns

