body(style="color:firebrick; background-color:grey;")
  h1= subject
  p Thank you, #{to}, for signing up as a member of the 4096 community.
  p You now have access to the user chat room.

  small The 4096 Team

